<div class="container">
    <div class="row">   
<div class="col-xs-4">


 <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    
<div class="form-group">
     <label>First Name</label> <input type="text" formControlName="firstName" class="form-control" 
     [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.firstName.errors }" />
               
     <div *ngIf="registerForm.controls.firstName.invalid && (registerForm.controls.firstName.dirty || 
     registerForm.controls.firstName.touched)" 
    class="text-danger">
    <div *ngIf="registerForm.controls.firstName.errors.required">Frist Name is required. </div>
    <div *ngIf="registerForm.controls.firstName.errors.pattern">Enter Valid First Name</div>

    </div>           
    <!-- <div *ngIf="submitted &amp;&amp; registerForm.controls.firstName.errors" class="text-danger">
     <div *ngIf="registerForm.controls.firstName.errors.required">First Name is required</div>
     <div *ngIf="registerForm.controls.firstName.errors.pattern">Enter Valid First Name</div>
     </div>-->
 </div>
            
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" formControlName="lastName" class="form-control" 
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.lastName.errors }" />

                <div *ngIf="registerForm.controls.lastName.invalid && (registerForm.controls.lastName.dirty || 
                registerForm.controls.lastName.touched)" 
               class="text-danger">
               <div *ngIf="registerForm.controls.lastName.errors.required">Last Name is required. </div>
               <div *ngIf="registerForm.controls.lastName.errors.pattern">Enter Valid Last Name</div>
           
               </div> 
              
            </div>	
            
            <div class="form-group">
                <label>Email</label>
                <input type="text" formControlName="email" class="form-control" 
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.email.errors }" />

                 <div *ngIf="registerForm.controls.email.invalid && (registerForm.controls.email.dirty || 
                registerForm.controls.email.touched)" 
               class="text-danger">
               <div *ngIf="registerForm.controls.email.errors.required">Email is required. </div>
               <div *ngIf="registerForm.controls.email.errors.pattern">Enter Valid Email</div>
           
               </div> 
              
            </div>


            <div class="form-group">
                <label>Phone Number</label>
                <input type="text" formControlName="contactNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.contactNumber.errors }"  placeholder="222-222-2222"  />
               
                <div *ngIf="registerForm.controls.contactNumber.invalid && (registerForm.controls.contactNumber.dirty || 
                registerForm.controls.contactNumber.touched)" 
               class="text-danger">
               <div *ngIf="registerForm.controls.contactNumber.errors.required">Phone number is required. </div>
               <div *ngIf="registerForm.controls.contactNumber.errors.pattern">Enter Valid Phone Number</div>
           
               </div>     
            </div>

            <div class="form-group">
                <label>Date of Birth</label>
                <input type="date" formControlName="dob" class="form-control" /> 
               
                <div *ngIf="registerForm.controls.dob.invalid && (registerForm.controls.dob.dirty || 
                registerForm.controls.dob.touched)" 
               class="text-danger">
               <div *ngIf="registerForm.controls.dob.errors.required">Date of Birth is required. </div>
              
               </div> 
            </div>

            


            <div class="form-group">
                <label>Country</label>&nbsp;&nbsp;
                <select [(ngModel)]="country" formControlName="country" class="form-control">
                    <option [ngValue]="null">Choose a state</option>
                    <option *ngFor="let country of countries;"[ngValue]="country">{{country.name}}</option>
                </select>

                <div *ngIf="registerForm.controls.country.invalid && (registerForm.controls.country.dirty || 
                registerForm.controls.country.touched)" 
               class="text-danger">
               <div *ngIf="registerForm.controls.country.errors.required">Please Select One or select other than Choose a country </div>
              
           
               </div>     

               <!-- <div *ngIf="submitted &amp;&amp; registerForm.controls.country.errors" class="text-danger">
                    <div *ngIf="registerForm.controls.country.errors.required">Please Select One</div>
               </div>-->
            </div>
            

            <div class="form-group">
                <label>Gender</label>&nbsp;&nbsp;
                <input type="radio" name="gender" value="male" checked> Male
                <input type="radio" name="gender" value="female"> Female<br>
            </div>



            
            <div class="form-group">
                <button class="btn btn-primary" [disabled]="registerForm.invalid">Register</button>
            </div>
        </form>


    </div>
    </div>
</div>
