
    <div class="col-md-4" id="filterDiv">
        <input type="text" class="form-control" placeholder="Filter" (keyup)="applyFilter($event.target.value)">
    </div><br/>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="RollNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Roll No </th>
      <td mat-cell *matCellDef="let element"> {{element.RollNo}} </td>
    </ng-container>
  
    <ng-container matColumnDef="FirstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> FirstName </th>
      <td mat-cell *matCellDef="let element"> {{element.FirstName}} </td>
    </ng-container>

    <ng-container matColumnDef="LastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> LastName </th>
      <td mat-cell *matCellDef="let element"> {{element.LastName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Class">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Class </th>
      <td mat-cell *matCellDef="let element"> {{element.Class}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="constantService.DEFAULT_PAGESIZEOPTION" showFirstLastButtons></mat-paginator>
  
  