<div class="row"><h2 class="text-center">Contact Us</h2>
    <button type="button" (click)="NavigateToHome()" class="btn btn-primary">Go To Home</button>
        <button type="button" (click)="navigateToEvents()"  class="btn btn-primary pull-right">Go To Events</button>
    <div class="row"><br/>
        <div class="col-xs-6">
            <img [src]="contactUsImage" alt="school" class="img-responsive">
        </div>
        <div class="col-xs-6">
            <h4><b>The Lexicon International School</b></h4>
            <h4>CBSE school in Maharashtra</h4><br/>
            <h4>Address: Lexicon Estate, G No. 726, Nagar Rd, Wagholi, Pune, Maharashtra 412207</h4><br/>
        </div>
    </div>
   
</div>